div{
  margin:10px  auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: solid 2px black;
  border-radius: 5px;
  width: 20%;
  height: 20%;
  padding: 5%;
  
}
