form {display: flex;
    justify-content: space-around;
  border-radius: 10%;
  width: 90%;
  margin: auto;
}

body{
    box-sizing: border-box;
    margin:0;
}

.nav{
    background-color: blue;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav p{
    color: white;
    font-size: 30px;
    }

    a{
        color: white;
        font-size: 30px;
         text-decoration: none;
    }

    form{
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin:auto ;
        border-radius: 5px;
    }

    .bouton{
        background-color: blue;
        padding: 15px;
        border-radius: 10px;
    }

    #recap{
        border:solid 2px black;
        display: flex;
        justify-content: space-between;
    }

    .container{
        border:solid 2px black;

    }

    .mois{
        display:flex;
        justify-content: space-around;
    }

    .ok{
        background-color: red;
        color:black;
         

    }

    .pasok{
        background-color:green;
        color:black;
        
    }

    #button{ display: flex;
             margin: 50px; 
            justify-content: space-between;  
            
        }
